<div class="sample-tree">
 <kendo-treeview
    [nodes]="data"
    textField="TenantTaxnmyName"
    kendoTreeViewSelectable
    kendoTreeViewExpandable
    kendoTreeViewHierarchyBinding
    childrenField="children"
    (selectionChange)="onSelected($event)"
  >
  </kendo-treeview>
</div>
<div style="margin: 15px 0px 0px 0px;" *ngIf="isPopGrp">
  <form [formGroup]="lobForm">
    <mat-form-field>
      <mat-select placeholder="Line of Business" formControlName="LOB">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let lob of lob" [value]="lob">
          {{ lob.LOB }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
